<h1>Optional Input</h1>
<div>{{ optionalInput() }}</div>

<h1>Optional Input + Initial value</h1>
<div>{{ optionalInputWithInitialvalue() }}</div>

<h1>Optional Input + Initial value + Transform</h1>
<div>{{ optionalInputInitialValueWithTransform() }}</div>

<h1>Optional Input + Initial value + Transform + Alias</h1>
<div>{{ optionalInputInitialValueWithAlias() }}</div>

<hr>

<h1>Required Input</h1>
<div>{{ requiredInput() }}</div>

<h1>Required Input + Transform</h1>
<div>{{ requiredInputWithTransform() }}</div>

<h1>Required Input + Transform + Alias</h1>
<div>{{ requiredInputWithAlias() }}</div>

<hr>

<h1>Computed (Could work like a setter?)</h1>
<div>{{ computedValue() }}</div>